  <!-- <div style="background-image: url('https://pbs.twimg.com/media/EmZFsq5XUAACGUD.jpg');height: 720px;">  -->
    <div style="background-image: url('https://www.vir.com.vn/stores/news_dataimages/hung/022017/01/13/ecomer.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;height: 720px;"> 
    <div class="card col-md-4 offset-md-4"> 
        <div class="card-body">     
    <form [formGroup]="addassetForm">
                    <div class="form-group">
                     
                         <input type="text" class="form-control" id="title" name="title" formControlName="title" #title placeholder="Enter title">
                                <div style="color:red;" *ngIf="addassetForm.get('title').dirty && addassetForm.get('title').touched && addassetForm.get('title').value.length<5">title name should be more than 5 character</div>
                    </div>
                     <div class="form-group">
                        
                         <input type="text" class="form-control" id="category" name="category" formControlName="category" #category placeholder="Enter category">
                                <div style="color:red;" *ngIf="addassetForm.get('category').dirty && addassetForm.get('category').touched && addassetForm.get('category').value.length<5">category name should be more than 5 character</div>
                    </div>
                    <div class="form-group">
                     
                         <input type="text" class="form-control" id="quantity" name="quantity" formControlName="quantity" #quantity placeholder="Enter quantity">
                                <div style="color:red;" *ngIf="addassetForm.get('quantity').dirty && addassetForm.get('quantity').touched && addassetForm.get('quantity').value.length<1">quantity cannot be zero</div>
                    </div>
                     <div class="form-group">
                    
                         <input type="number" class="form-control" id="price" name="price" formControlName="price" #price placeholder="Enter price">
                                <div style="color:red;" *ngIf="addassetForm.get('price').value.length<0">price cannot be zero</div>
                    </div>
                    <div class="form-group">
                      
                         
                   
                   
                    <textarea id="additionaldetails" class="form-control" name="additionaldetails" rows="4" cols="50" formControlName="additionaldetails" #additionaldetails placeholder="Enter additional details">
    <div style="color:red;" *ngIf="addassetForm.get('priadditionaldetailsce').dirty && addassetForm.get('additionaldetails').touched">data must be entered</div>
                      </textarea>
                   
                    </div>
    
    
    
      <button type="submit" class="btn btn-outline-primary" name="submit" (click)="addAsset(title.value,category.value,quantity.value,price.value,additionaldetails.value)" [disabled]="addassetForm.invalid">Add Asset</button> 
                </form>
            </div>
        </div>



 <!-- <div class="card col-md-4 offset-md-4"> 
  <div class="card-body">     
<form [formGroup]="addassetForm">
              <div class="form-group">
               
                   <input type="text" class="form-control" id="title" name="title" formControlName="title" #title placeholder="Enter title">
                          <div style="color:red;" *ngIf="addassetForm.get('title').dirty && addassetForm.get('title').touched && addassetForm.get('title').value.length<5">title name should be more than 5 character</div>
              </div>
               <div class="form-group">
                  
                   <input type="text" class="form-control" id="category" name="category" formControlName="category" #category placeholder="Enter category">
                          <div style="color:red;" *ngIf="addassetForm.get('category').dirty && addassetForm.get('category').touched && addassetForm.get('category').value.length<5">category name should be more than 5 character</div>
              </div>
              <div class="form-group">
               
                   <input type="text" class="form-control" id="quantity" name="quantity" formControlName="quantity" #quantity placeholder="Enter quantity">
                          <div style="color:red;" *ngIf="addassetForm.get('quantity').dirty && addassetForm.get('quantity').touched && addassetForm.get('quantity').value.length<1">quantity cannot be zero</div>
              </div>
               <div class="form-group">
              
                   <input type="number" class="form-control" id="price" name="price" formControlName="price" #price placeholder="Enter price">
                          <div style="color:red;" *ngIf="addassetForm.get('price').value.length<0">price cannot be zero</div>
              </div>
              <div class="form-group">
                
                   
             
             
              <textarea id="additionaldetails" class="form-control" name="additionaldetails" rows="4" cols="50" formControlName="additionaldetails" #additionaldetails placeholder="Enter additional details">
<div style="color:red;" *ngIf="addassetForm.get('priadditionaldetailsce').dirty && addassetForm.get('additionaldetails').touched">data must be entered</div>
                </textarea>
             
              </div>



<button type="submit" class="btn btn-primary" name="submit" (click)="addAsset(title.value,category.value,quantity.value,price.value,additionaldetails.value)" [disabled]="addassetForm.invalid">Add Asset</button> 
          </form>
      </div>
  </div>

  
 -->






























