<!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/asset icon.html" width="30" height="30" alt=""> Asset Management System
    </a>
  </nav>


<form class="col-md-4 offset-md-4">
    <h1>Enter your Data</h1>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Category</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control">
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Additional deatails</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-secondary btn-lg col-md-3 offset-md-4">Add</button>
  </form> -->











  