  <!-- <div class="view" style="background-image: url('https://pbs.twimg.com/media/EmZFsq5XUAACGUD.jpg'); height: 720px;"> -->
    <body>
        <div style="background-image: url('https://cdn.pixabay.com/photo/2016/08/11/23/48/italy-1587287__340.jpg);">
            <div class="card col-md-4 offset-md-4"> 
                <div class="card-body">     
                    <form [formGroup]="signupForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" #firstname placeholder="Enter first name">
                                <div style="color:red;" *ngIf="signupForm.get('firstname').dirty && signupForm.get('firstname').touched && signupForm.get('firstname').value.length<6">first name should be more than 6 character</div>             
                        </div>
                        <div class="form-group ">   
                            <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" #lastname placeholder="Enter last name">
                                <div style="color:red;" *ngIf="signupForm.get('lastname').dirty && signupForm.get('lastname').touched && signupForm.get('lastname').value.length<6">last name should be more than 6 character</div>     
                        </div>
                        <div class="form-group ">
                            <input type="email" class="form-control" id="email" name="email" formControlName="email" #email placeholder="Enter email">
                                <div style="color:red;" *ngIf="signupForm.get('email').dirty && signupForm.get('email').touched && signupForm.get('email').value.length<6">email should be more than 6 character</div>                
                        </div>
                         <div class="form-group ">
                             <input type="password" class="form-control" id="password" name="password" formControlName="password" #password placeholder="Enter password">
                                <div style="color:red;" *ngIf="signupForm.get('password').dirty && signupForm.get('password').touched && signupForm.get('password').value.length<6">password should be more than 6 character</div>  
                        </div>
                            <button type="submit" class="btn btn-outline-primary" name="submit" (click)="signin(firstname.value,lastname.value,email.value,password.value)" [disabled]="signupForm.invalid">Sign Up</button> 
                    </form>
                </div>
            </div>
        </div>
        </body>
        <footer>
          <p>Author: DIVYABANASHREE AR<br>
          <a href="divya.nekar30@gmail.com">divya.nekar30@gmail.com</a></p>
        </footer>
  <!-- <body>
       <div class="bg"></div>
     
    <div class="card col-md-4 offset-md-4 mt-5"> 
        
        <div class="card-body"> 

    <form [formGroup]="signupForm">
                    <div class="form-group">
            
                         <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" #firstname placeholder="Enter first name">
                                <div style="color:red;" *ngIf="signupForm.get('firstname').dirty && signupForm.get('firstname').touched && signupForm.get('firstname').value.length<6">first name should be more than 6 character</div>
                                 
                    </div>
                     <div class="form-group mt-5">
                        
                         <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" #lastname placeholder="Enter last name">
                                <div style="color:red;" *ngIf="signupForm.get('lastname').dirty && signupForm.get('lastname').touched && signupForm.get('lastname').value.length<6">last name should be more than 6 character</div>
                        
                    </div>
                    <div class="form-group mt-5">
                        
                         <input type="email" class="form-control" id="email" name="email" formControlName="email" #email placeholder="Enter email">
                                <div style="color:red;" *ngIf="signupForm.get('email').dirty && signupForm.get('email').touched && signupForm.get('email').value.length<6">email should be more than 6 character</div>
                                   
                    </div>
                     <div class="form-group mt-5">
                       
                         <input type="password" class="form-control" id="password" name="password" formControlName="password" #password placeholder="Enter password">
                                <div style="color:red;" *ngIf="signupForm.get('password').dirty && signupForm.get('password').touched && signupForm.get('password').value.length<6">password should be more than 6 character</div>
                            
                    </div>
      <button type="submit" class="btn btn-outline-primary" name="submit" (click)="signin(firstname.value,lastname.value,email.value,password.value)" [disabled]="signupForm.invalid">Sign Up</button> 
                </form>
            </div>
        </div>
    </body> -->





































