<body>
    <div class="bg"></div>
    <div class="card col-md-4 offset-md-4"> 
        <div class="card-body">     
    <form [formGroup]="updateForm">
    
                    <div class="form-group">
            
                         <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" #firstname placeholder="Enter first name" value={{users.fname}}>
                                <div style="color:red;" *ngIf="updateForm.get('firstname').dirty && updateForm.get('firstname').touched && updateForm.get('firstname').value.length<6">first name should be more than 6 character</div>
                    
                    </div>
                     <div class="form-group mt-5">
                        
                         <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" #lastname placeholder="Enter last name" value="{{users.lname}}">
                                <div style="color:red;" *ngIf="updateForm.get('lastname').dirty && updateForm.get('lastname').touched && updateForm.get('lastname').value.length<6">last name should be more than 6 character</div>
                                
                    </div>
                    <div class="form-group mt-5">
                        
                         <input type="email" class="form-control" id="email" name="email" formControlName="email" #email placeholder="Enter email" value="{{users.email}}">
                                <div style="color:red;" *ngIf="updateForm.get('email').dirty && updateForm.get('email').touched && updateForm.get('email').value.length<6">email should be more than 6 character</div>
                                   
                    </div>
                     <div class="form-group mt-5">
                       
                         <input type="password" class="form-control" id="password" name="password" formControlName="password" #password placeholder="Enter password" value="{{users.password}}">
                                <div style="color:red;" *ngIf="updateForm.get('password').dirty && updateForm.get('password').touched && updateForm.get('password').value.length<6">password should be more than 6 character</div>
                                 
                    </div>
      <button type="submit" class="btn btn-outline-primary" name="submit" (click)="update(id.value,firstname.value,lastname.value,email.value,password.value)" [disabled]="updateForm.invalid">Update</button> 
                </form>
            </div>
        </div>
    </body>

<!-- <body>
        <div class="bg"></div>
        <div class="card col-md-4 offset-md-4 mt-5"> 
            <div class="card-body">     
        <form [formGroup]="updateForm">
        
                        <div class="form-group">
                
                             <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" #firstname placeholder="Enter first name" value={{users.fname}}>
                                    <div style="color:red;" *ngIf="updateForm.get('firstname').dirty && updateForm.get('firstname').touched && updateForm.get('firstname').value.length<6">first name should be more than 6 character</div>
                        
                        </div>
                         <div class="form-group mt-5">
                            
                             <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" #lastname placeholder="Enter last name" value="{{users.lname}}">
                                    <div style="color:red;" *ngIf="updateForm.get('lastname').dirty && updateForm.get('lastname').touched && updateForm.get('lastname').value.length<6">last name should be more than 6 character</div>
                                    
                        </div>
                        <div class="form-group mt-5">
                            
                             <input type="email" class="form-control" id="email" name="email" formControlName="email" #email placeholder="Enter email" value="{{users.email}}">
                                    <div style="color:red;" *ngIf="updateForm.get('email').dirty && updateForm.get('email').touched && updateForm.get('email').value.length<6">email should be more than 6 character</div>
                                       
                        </div>
                         <div class="form-group mt-5">
                           
                             <input type="password" class="form-control" id="password" name="password" formControlName="password" #password placeholder="Enter password" value="{{users.password}}">
                                    <div style="color:red;" *ngIf="updateForm.get('password').dirty && updateForm.get('password').touched && updateForm.get('password').value.length<6">password should be more than 6 character</div>
                                     
                        </div>
          <button type="submit" class="btn btn-outline-primary" name="submit" (click)="update(id.value,firstname.value,lastname.value,email.value,password.value)" [disabled]="updateForm.invalid">Update</button> 
                    </form>
                </div>
            </div>
        </body> -->






















































          
